


* {
  padding: 0;
  margin: 0;
}

body, input {
  font-size: 14px;
  line-height: 1.7;
}
ul, li {
  list-style: none;
}


body, html {
  height: 100%;
  width: 100%;
}

input:focus {
  outline: 0;
}

input[type=submit] {
  border: 0;
  line-height: 35px;
}
.flex {
  display: flex;

  &.center {
    align-items: center;
  }

  .flex-item-1 {
    flex:1;
  }
}

.button {
  width: 100%;
  height: 35px;
  background: #eee;
  border: 0;  // 去掉这个属性的button无法设置宽高
  box-sizing: border-box;
  padding: 0 13px;
  line-height: 35px;
}

input[type="text"] {
  padding: 4px 5px;
}
